<div id="<%= dom_id comida %>">
  <p>
    <strong>Nome:</strong>
    <%= comida.nome %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= comida.tipo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= comida.descricao %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= comida.preco %>
  </p>

</div>
