<%= form_with(model: comida) do |form| %>
  <% if comida.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comida.errors.count, "error") %> prohibited this comida from being saved:</h2>

      <ul>
        <% comida.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.text_field :tipo %>
  </div>

  <div>
    <%= form.label :descricao, style: "display: block" %>
    <%= form.text_area :descricao %>
  </div>

  <div>
    <%= form.label :preco, style: "display: block" %>
    <%= form.text_field :preco %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
